body {
  background: #f2f4f8 !important;
  /* place-items: unset; */
}

#root {
  margin: auto;
}

.banner-gradient {
  background: linear-gradient(249.91deg,
      #fff8f4 0%,
      #def1ff 48.96%,
      #fff8f4 100%)
}